#root {
  width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.Contenedor, .Inputs, .Cursos{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background-color: cornflowerblue;
}
.Boton{
  cursor: pointer;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px;
  color: aliceblue;
  background-color: rgb(31, 82, 175)
}

.Inputs input{
  border: none;
  margin: 5px;
  border-radius:10px ;
  height: 27px;
  width: 310px;
}
.Inputs p{
  margin: 0;
  font-size: 18px;
  font-weight: 500;
}

.Cursos table{
  background-color: rgb(145, 173, 224);
  margin: 20px;
  text-align: center;
}
.Cursos table td{
  padding: 5px;
}
h2{
  margin: 10px;
}